<div class="modal-header">
    <h4 class="modal-title">Next action</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Create a room</h5>
            <p class="card-text">Create a room with password that others can join</p>
            <button type="button" class="btn btn-success m-2" (click)="showCreateRoom()">Create!</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Join a room</h5>
            <p class="card-text">Join a room that hopefully* has people in it</p>
            <button type="button" class="btn btn-success m-2" (click)="showJoinRoom()">Join!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="https://www.quora.com/Why-cant-my-son-turn-off-Minecraft" class="btn-link text-black-50">Or you could just go outside</a>
  </div>
